.NewsDetails {
	min-height: 100vh;
	padding-top: 150px;
	.content {
		padding: 50px 0;
		.block {
			.box {
				display: flex;
				flex-direction: column;
				gap: 20px;
				.image {
					position: relative;
					width: 100%;
					height: 500px;
					border-radius: 10px;
					overflow: hidden;
				}
				h1 {
					font-size: 32px;
				}
				p {
					font-size: 18px;
					font-weight: 400;
				}
			}
		}
	}
}

@media (max-width: 700px) {
  .NewsDetails {
    min-height: 100vh;
    padding-top: 150px;
    .content {
      padding: 50px 0;
      .block {
        .box {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .image {
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: 10px;
            overflow: hidden;
          }
          h1 {
            font-size: 26px;
          }
          p {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
  
}
